<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated debsEvent -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.debs.event.debsEvent.presentation.DebsEventModelWizardID"
            name="%_UI_DebsEventModelWizard_label"
            class="com.debs.event.debsEvent.presentation.DebsEventModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DebsEventModelFile.gif">
         <description>%_UI_DebsEventModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated debsEvent -->
      <editor
            id="com.debs.event.debsEvent.presentation.DebsEventEditorID"
            name="%_UI_DebsEventEditor_label"
            icon="icons/full/obj16/DebsEventModelFile.gif"
            extensions="debsevent"
            class="com.debs.event.debsEvent.presentation.DebsEventEditor"
            contributorClass="com.debs.event.debsEvent.presentation.DebsEventActionBarContributor">
      </editor>
   </extension>

</plugin>
